<div class="albums">
  <div class="container-fluid">

    <div class="row">
      <% @albums.each do |album|%> 
        <div class="col-sm-12 col-md-6 col-lg-4 link">
          <%= link_to album_path(album) do %>
            <h2><%= album.title %></h2> 
            <%= image_tag album.image, :class => "img-container" %> 
            <p>See Album</p>
          <% end %>
          
        </div>
      <% end %> 
    </div>

  </div>
</div>