<div class="photos">
  <div class="container-fluid">

    <h1><%= @album.title %></h1>
    <div class="row">
      <% @photos.each do |photo|%> 
        <div class="col-sm-12 col-md-6 col-lg-4">
            <%= image_tag photo.image, :class => "img-container" %>
            <p class="photo-info"><%= photo.caption %></p> 
        </div>
      <% end %> 
    </div>

  </div>
</div>